.feynman__subtitle {
    margin: 70px 0 0;
    position: relative;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    text-align: center;
}