.header__title {
    position: relative;
    width: 730px;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 96px;
    font-size: 102px;
    padding-left: 64px;
    margin: 0;
    z-index: 2;
}